@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

#container{
    color: #999;
    font-family: "Poppins", sans-serif;
}

.container #header{
    width: 100%;
    height: unset;
    background-color: #dc134c;
    padding: 5px;
    color: #fff;
}

.container #map{
    width: 100%;
    height: 90vh;
}

#header input{
    width: 90%;
    height: 95%;
    outline: none;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-family: "Poppins", sans-serif;
}

#header button{
    border-radius: 20px;
    width: 9%;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
}

#header p{
    display: inline-block;
}

/*---------SEARCH BOX HERE--*/
#foldable {
    width: 320px;
}
#form {
    margin-top: 10px;
}
.icon {
    background-size: cover;
    height: 30px;
    width: 30px;
}
.tt-icon-size {
    height: 18px !important;
    padding: 8px;
    width: 18px !important;
}
.icon-spacing-right {
    margin-right: 12px;
    margin-top: 22px;
}
.icon-spacing-left {
    margin-left: 12px;
    margin-top: 24px;
}
.tt-search-box-input {
    width: calc(100% - 25px) !important;
}
.searchbox-container {
    display: flex;
}

.searchbox-container > .tt-search-box {
    flex: 1;
    padding-right: 26px;
}
.my-location-button {
    background-image: url("https://api.tomtom.com/maps-sdk-for-web/cdn/static/my-location.svg");
    cursor: pointer;
    margin-left: 7px;
    padding: 12px;
}
.my-location-button:hover {
    background-image: url("https://api.tomtom.com/maps-sdk-for-web/cdn/static/my-location-hover.svg");
}
.route-marker {
    align-items: center;
    background-color: #4a90e2;
    border: solid 3px #2faaff;
    border-radius: 50%;
    display: flex;
    height: 32px;
    justify-content: center;
    transition: width .1s, height .1s;
    width: 32px;
}
/*------END SEARCHBOX-------*/

/*----RESPONSIVE PART---*/
@media only screen and (max-width: 990px) {
    #header{
        display: block;
    }
    #header input{
        width: 80%;
    }
    #header button{
        width: 18%;
    }
}